@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(0, 0, 0);
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}
img {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: #fff 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}
.mBtn {
  border: none;
  outline: none;
  background: none;
}

/* modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.user-form {
  padding: 10px;
  position: relative;
}
.fInput {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
/* Main Container */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* Character Selection */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .card {
  position: relative;
  margin: 10px;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.container .card:hover .face.face1 {
  background: red;
  color: #333;
  transform: translateY(0);
}
.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}
.container .card:hover .face.face1 .content {
  opacity: 1;
}

/* .container .card .face.face1 .content img {
  max-width: 100px;
} */

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}
.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}
.container .card:hover .face.face2 {
  transform: translateY(0);
}
.container .card .face.face2 p {
  margin: 0;
  padding: 0;
}

.container .card .face.face2 a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 a:hover {
  background: #333;
  color: #fff;
}

/* Dungeon */
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  height: 100vh;
  /* Subtract 20 from width and height if browser acts weird */
  width: 725px;
  height: 545px;
  border: 1px solid black;
  background: url('../images/dungeon1.png') no-repeat center center/cover;
}

.grid div {
  width: 36px;
  height: 36px;
}

.wall {
  background-color: rgba(0, 0, 0, 0.2);
}

.sword {
  background-color: green;
  background: url('../images/big_boy_sword.png') no-repeat center center/cover;
}

.knight {
  /* background-color: yellow; */
  /* border-radius: 10px; */
  background: url('../images/knight_walking.gif') no-repeat center center/cover;
  z-index: 2;
}

.enemy1 {
  background-color: red;
  background: url('../images/archer_walking.gif') no-repeat center center/cover;
}
.enemy2 {
  background-color: orangered;
  background: url('../images/archer_walking.gif') no-repeat center center/cover;
}
.enemy3 {
  background-color: yellowgreen;
  background: url('../images/archer_walking.gif') no-repeat center center/cover;
}
.coffin {
  background: url('../images/coffin2.png') no-repeat center center/cover;
}
.keyEnemy {
  background-color: orange;
  background: url('../images/dwarf.png') no-repeat center center/cover;
  /* z-index: 1; */
}
/* Flex items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

/* Info Cards*/
.info-card {
  border-style: double;
  border-radius: 5px;
  border-width: 5px;
  padding: 25px 100px 75px 100px;
  background-color: slateblue;
}
.info {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-style: oblique;
}
.close-btn {
  background-color: teal;
  padding: 5px 5px 5px 5px;
}

/* Welcome Page*/
.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: double;
  border-radius: 5px;
  border-width: 5px;
  padding: 200px 200px 200px 200px;
  background-color: slateblue;
  background-image: url('../images/dungeon1.png');
  background-blend-mode: screen;
}
.welcome-title {
  justify-content: center;
  background-color: rgba(0, 128, 128, 0.5);
}
.start-button {
  justify-items: center;
}

/* Main Menu*/
